<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SUFeedURL</key>
	<string>https://awdlcontrol.net/appcast.xml</string>
	<key>SUVerifyUpdateBeforeExtraction</key>
	<true/>
	<key>SURequireSignedFeed</key>
	<true/>
	<key>SUPublicEDKey</key>
	<string>gg/+Qew8kUvSlog/i9RTSwz80Y4Js22BRqKSvcZzk9E=</string>
</dict>
</plist>
